.banner {
  background-color: #062849;
  position: relative;
  height: 5vh;
  margin-bottom: 5vh;
}

.logo {
  position: absolute;
  height: 50%;
  transform: translateY(50%);
  padding: 0vh 5vh;
}

.stackline-app {
  display: flexbox;
}

.product-image {
  height: 25vh;
}

.product-container {
  display: flex;
  gap: 5vh;
  text-align: center;
  height: 75%;
  padding: 0vh 5vh;
}

.product-container div {
  background-color: #ffffff;
}

.product-column {
  width: 30%;
  padding: 5px;
}

.product {
  margin: 3em;
}

.tag-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0em 3em;
}

.tag {
  border: rgb(6, 40, 73, 0.2) 2px solid;
  padding: 5px 15px;
  border-radius: 2px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: small;
}

.sales-column {
  width: 65%;
  padding: 10px;
}

.title-text p:first-of-type {
  font-size: large;
  font-weight: bold;
}

.title-text p:last-of-type {
  font-size: medium;
  opacity: calc(50%);
}

hr {
  opacity: calc(25%);
}
