/* Banner styling */
.logo {
  position: absolute;
  height: 50%;
  transform: translateY(50%);
  padding: 0vh 5vh;
}

.banner {
  background-color: #062849;
  position: relative;
  height: 5vh;
  margin-bottom: 5vh;
}

/* Product column styling  */
.product-dashboard {
  display: flexbox;
}

.product-column {
  background-color: #ffffff;
  height: 100%;
  width: 30%;
  padding: 5px;
}

.product-container {
  display: flex;
  gap: 5vh;
  text-align: center;
  margin: 0vh 5vh;
}

.product-image {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.product {
  margin: 3em;
}

.tag-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0px 20px;
}

.tag {
  border: rgb(6, 40, 73, 0.2) 2px solid;
  padding: 5px 15px;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: small;
}

hr {
  opacity: calc(25%);
}

div hr:last-of-type {
  margin-bottom: 200px;
}

.title-text p:first-of-type {
  font-size: large;
  font-weight: bold;
}

.title-text p:last-of-type {
  font-size: medium;
  opacity: calc(50%);
}

/* Sales column styling  */
.sales-column {
  width: 65%;
  padding: 10px;
}

.sales-column-trend,
.sales-column-table {
  background-color: #ffffff;
}

.sales-column-table {
  margin-top: 5vh;
  overflow: auto;
}

.pagination {
  display: inline-flex;
  list-style-type: none;
  font-size: small;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-icon {
  margin: 0px 10px;
}

li p {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Responsive layout styling */
@media (max-width: 600px) {
  .product-container {
    flex-direction: column;
  }

  .product-column,
  .sales-column {
    width: 100%;
  }

  .title-text p:first-of-type {
    font-size: medium;
    font-weight: bold;
  }

  .title-text p:last-of-type {
    font-size: small;
    opacity: calc(50%);
  }

  .tag {
    font-size: x-small;
  }
}
